@import 'main';

body {
    background-color: $bg;
    font-family: $main-font;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
    &.active {
        color: $blue;
    }
}

ul {
    list-style: none;
    li {
        cursor: pointer;
    }
}

h1 {
    margin: 0 !important;
    padding: 0;
}