@use 'fonts';
@use 'sass:math';

// Breakpoints
$breakpoint480: 480;
// mobile <
$breakpoint768: 768;
// >= tablet-portrait <
$breakpoint960: 960;
// >= tablet-landscape <
$breakpoint1280: 1280;
// >= desktop

$main-font: fonts.$gotham-pro-regular;
$base-font-size: 16px;

// Vars
$headerHeight: 60px;
$headerHeightMobile: 54px;

$containerWidth: 1200;
$containerPadding: 80;
$containerSidePadding: math.div($containerPadding, 2);