@import 'src/styles/main';

header {
    background-color: $white;
    width: 100%;
    position: fixed;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 116px;
    height: $headerHeight;
    &:nth-child(2) {
        margin-right: 4px;
    }
    @include desktop-1280 {
        gap: 20px;
    }
    @include tablet-landscape-960 {
        height: $headerHeightMobile;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    > span {
        font-family: $manrope;
        font-size: $base-font-size;
        color: $black-2;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }
    > img {
        @include tablet-landscape-960 {
            width: 32px;
            height: 32px;
        }
    }
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 44px;
    margin: 0;
    @include desktop-1280 {
        gap: 20px;
    }
    > li {
        @extend %paragraph;
        color: $black-1;
        position: relative;
        &:nth-child(1) {
            display: flex;
            align-items: center;
            gap: 11px;
            @include desktop-1280 {
                gap: 4px;
            }
            > img {
                transform: translateY(2px);
                @include desktop-1280 {
                    transform: translateY(1px);
                }
            }
        }
        &:nth-child(2) {
            margin-right: 2px;
        }
        &:nth-child(3) {
            margin-right: 4px;
        }
        @include desktop-1280 {
            font-size: 14px;
        }
    }
}

.header__links {
    display: flex;
    align-items: center;
    gap: 12px;
    @include desktop-1280 {
        gap: 4px;
    }
}

.header__lang {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 4px;
    > span {
        position: relative;
        @extend %medium;
        font-size: 16px;
        line-height: 150%;
        color: $black-1;
    }
    @include desktop-1280 {
        margin-left: 20px;
    }
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__login {
    margin-left: 40px;
    @include desktop-1280 {
        margin-left: 20px;
    }
}

.burger {
    display: none;
    cursor: pointer;
}

.close__burger__circle {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

@include tablet-landscape-960 {
    .header__buttons {
        display: none;
    }

    .mobile__menu__wrapper {
        display: flex;
    }
    .menu {
        display: none;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        cursor: pointer;
        width: 28px;
        height: 28px;
    }
}

.overlay {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 13;
    &_active {
        display: block;
    }
}

.subscriptionsMenu, .langMenu {
    z-index: 12;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 46px;
    left: -23px;
    background: #ffffff;
    box-shadow: 0px 20px 48px rgba(177, 177, 177, 0.4);
    border-radius: 16px;

    > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        width: 205px;
        padding: 27px 23px;
        > li {
            color: $black-2;
            font-family: $main-font;
            font-weight: 700;
            font-size: 17px;
            line-height: 150%;
            font-style: normal;
            letter-spacing: 0.01em;
        }
    }
}

.langMenu {
    left: unset;
    top: 67px;
    > ul {
        width: 114px;
    }
}

.active {
    transform: rotate(180deg) translateY(-2px) !important;
    @include desktop-1280 {
        transform: rotate(180deg) translateY(-1px) !important;
    }
    &_lang {
        transform: rotate(180deg) !important;
    }
}